<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807006141323-sgs67aimq7aq72dhn6qfq9vns6e381i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807006141323-sgs67aimq7aq72dhn6qfq9vns6e381i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAv7KJnBwa2Th3Genao7lUR5nPKkajo5pA</string>
	<key>GCM_SENDER_ID</key>
	<string>807006141323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anotei</string>
	<key>PROJECT_ID</key>
	<string>anotei-c6361</string>
	<key>STORAGE_BUCKET</key>
	<string>anotei-c6361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807006141323:ios:eca5be0e8913fb64ac0d8e</string>
</dict>
</plist>